# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# Testing
/coverage
/test-results/
test-results.json

# Next.js
/.next/
/out/

# Production build
/build

# Misc
.DS_Store
*.pem

# Cache files
.eslintcache
.swc/
.turbo/
cache/
*.tsbuildinfo

# Playwright / Storybook outputs
/playwright-report/
/storybook-static/

# Logs
*.log
build.log
test-output.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
medusa-logs/

# Environment files
.env
.env.*
!.env.example
!.env.*.example

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts
.env*.local

# logs
*.txt

.turbo
.next
